html {
    height: 100%;
}
body {
    padding-top: 50px;
    height: 100%;
}
.left-body-column {
    padding-top: 15px;
    border-right-style: solid;
    border-right-color: #EEEEEE;
    border-right-width: 1px;
    height: 610px;
}
.shipments-list {
    margin-top: 15px;
}
.shipments-container {
    max-height:500px;
    overflow-y: auto;
}
.well p {
    margin-left: 50px;
}
.well h4 {
    margin-top: 0px;
}
.spinner{
    margin-top: 200px;
    display: block;
    width: 40px;
    height: 40px;
}

.modal{
    margin-top: -146px;
    top: 50%;
}
.modal-higher{
    top: 35%;
}
.modal-header h3{
    margin: 0px;
}

.text-muted-white{
    color: #FFFFFF;
}

@media(max-height:660px) {
    .shipments-container {
        max-height: 470px;
    }
    .left-body-column {
        height: 570px;
    }
}
@media(max-height:635px) {
    .shipments-container {
        max-height: 450px;
    }
    .left-body-column {
        height: 550px;
    }
}
@media(max-height:610px) {
    .shipments-container {
        max-height: 350px;
    }
    .left-body-column {
        height: 450px;
    }
}
@media(max-height:520px) {
    .shipments-container {
        max-height: 250px;
    }
    .left-body-column {
        height: 350px;
    }
}