html {
    height: 100%;
}
body {
    padding-top: 50px;
    height: 100%;
}
.left-body-column {
    padding-top: 15px;
    border-right-style: solid;
    border-right-color: #EEEEEE;
    border-right-width: 1px;
    height: 610px;
}
.shipments-list {
    margin-top: 15px;
}
.list-group {
    max-height: 535px;
    overflow-y: auto;
}
.well p {
    margin-left: 50px;
}
.well h4 {
    margin-top: 0px;
}