<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="js-searchRegion">
            </div>
            <div class="js-shipmentsRegion">
            </div>
        </div>
        <div class="col-lg-9 js-shipmentDetailRegion">

        </div>
    </div>
</div>