<div class="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <br>
                <p>{{message}}</p>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default center-block js-modalOk" style="display:block;" autofocus>Ok</button>
            </div>
        </div>
    </div>
</div>