<p style="display:none" class="js-noShipments text-danger">There are no shipments to display.</p>
<div class="shipments-container list-group js-shipmentsItemsContainer">

</div>
<p class="text-center js-loadMore"><a href="#" class="js-loadMore">Load More</a></p>